<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weibo</title>
    <style>
        .comment {
            border: 1px red solid;
        }
    </style>
</head>
<body>
    <!-- <a href="/weibo/new">写新微博</a> -->
    <input id='id-input-weibo'>
    <button id='id-button-add'>添加微博</button>
    <hr>
    <div id="weibo-list"></div>
    <!-- <div id="comment-list"></div> -->
    <script src='/static?file=gua.js'></script>
    <script src='/static?file=weibo.js'></script>
    <!-- <script>
        var bindEventCommentAdd = function() {
            var b = e('.comment-add')
            log('绑定按钮', b)
            b.addEventListener('click', function(){})
        }
        bindEventCommentAdd()
    </script> -->
    <!-- {% for w in weibos %}
    <p>
        {{ w.content }} from {{ user.username }}
        <a href="/weibo/delete?id={{ w.id }}">删除</a>
        <a href="/weibo/edit?id={{ w.id }}">修改</a>

        {% for c in w.comments() %}
        <div class="comment">
            {{ c.user().username }} : {{ c.content }}
        </div>
        {% endfor %}

        <form action="/comment/add" method="post">
            <input type="hidden" name="weibo_id" value="{{ w.id }}">
            <input name="content">
            <br>
            <button type="submit">添加评论</button>
        </form>
    </p>
    {% endfor %} -->
</body>
</html>
